{% extends "files/base_login.html" %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <h3 class="text-light text-center"><b>Change Password</b></h3>
    <br>
    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa fa-key"></i></span>
        <input type="password" name="old_password" class="form-control mx-2" required placeholder="Old Password">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa fa-key"></i></span>
        <input type="password" name="new_password" class="form-control mx-2" required placeholder="New Password">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa fa-key"></i></span>
        <input type="password" name="confirm_password" class="form-control mx-2" required placeholder="Confirm New Password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary w-100">Change Password</button>
</form>

{% endblock %}
